* {
    padding: 0% 0% 0% 0%;
}

.logo {
    width: 200px;
    height: 200px;
    margin-bottom: 5%;
    margin-right: 2%;
}

.title {
    width: 400px;
    height: 400px;
}

.figures {
    margin-left: 2%;
}

.logoBorda {
    border-radius: 10px;
    border-style: solid;
    border-color: #1b4891;
    border-width: 2px;
}

.caixinha {
    border-radius: 10px;
    border-style: solid;
    border-color: #1b4891;
    border-width: 2px;
    width: 80%;
    background-color: white;
}

.boxIcon {
    width: 30px;
    height: 30px;
}

.pMargin {
    margin-left: 5%;
    margin-right: 5%;
}

.box-title-margin {
    margin-top: 3%;
}

.who-background {
    background-color: #81D742;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 20%;
}

@media screen and (max-width: 425px) {
    .low-device {
        display: none;
    }
}